.title {
    text-align: center;
    margin-top: 50%;
}

.mainDiv{
    background-color:black;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px
}

img {
    width: 100%;
    height: 100%;
    border: 2px solid yellow;
}

figcaption{
    text-align: center;
    color: yellow;
    font-size: 40pt;
    font-weight: bolder;
    font-family: 'Kaushan Script', cursive;
}

p{
    text-align: center;
    color: rgb(243, 243, 239);
    font-size: 30pt;
    font-weight: bolder;    
    font-family: 'Kaushan Script', cursive;
}

body{
    width:60%;
    align-content: center;
}