.search-bar{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%;
}

.search-bar form {
    display: flex;
    flex-direction: column;
}

.search-bar label {
    text-align: center;
    text-shadow: -5px 4px 10px;
}